@model ShenanigansCoffeShop.ViewModel.TableViewModel

<div class="container-fluid">

    <div class="w-auto p-3" style="background-color:white;">
       
        <div class="container">
            <div class="d-flex justify-content-left"><p class="font" style="font-size: 35px;">Inside</p></div>
            <div class="row g-5  row-cols-4">
                @foreach (ShenanigansCoffeShop.Models.CTableModel cTable in Model.Tables)
                {
                    if (cTable.t_type == "IN")
                    {
                        if (cTable.availability)
                        {
                            <div class="col"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;">@cTable.s_num</button></div>
                        }
                        else
                        {
                            <div class="col"><button type="button" disabled class="btn" style="width:65px; height:65px; background-color:red; border-radius:50%;"></button></div>
                        }
                    }
                }
            </div>
            <div class="d-flex justify-content-left"><p class="font" style="font-size: 35px; padding-top:0.5rem; padding-bottom:0.5rem; ">Outside</p></div>
            <div class="row g-5 row-cols-4">
                @foreach (ShenanigansCoffeShop.Models.CTableModel cTable in Model.Tables)
                {
                    if (cTable.t_type == "OUT")
                    {
                        if (cTable.availability)
                        {
                            <div class="col"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;">@cTable.s_num</button></div>
                        }
                        else
                        {
                            <div class="col"><button type="button" disabled class="btn" style="width:65px; height:65px; background-color:red; border-radius:50%;"></button></div>
                        }
                    }
                }
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row py-3 px-lg-5">
            </div>
        </div>
</div>
