@model ShenanigansCoffeShop.ViewModel.TableViewModel
<div class="container-fluid">

    <div class="w-auto p-3" style="background-color:white;">
        <div class="d-flex justify-content-left"><p class="font" style="font-size: 35px">Inside</p></div>
        <br />
        <div class="container">
            <div class="row col-md-3">
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                <div class="row"><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />

            </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-3 px-lg-5">
            </div>
        </div>
    </div>

    <div class="w-auto p-3" style="background-color:white;">
        <div class="d-flex justify-content-left"><p class="font" style="font-size: 35px">Outside</p></div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col">
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br />

                </div>
                <div class="col">
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br />

                </div>
                <div class="col">
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br />

                </div>
                <div class="col">
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br /><br />
                    <div><button type="button" class="btn" style="width:65px; height:65px; background-color:lawngreen; border-radius:50%;"></button></div><br />

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-3 px-lg-5">
            </div>
        </div>
    </div>


</div>
