<div class="w-auto p-3" style="background-color:white;">

    <div class="d-flex justify-content-center"><p class="font" style="font-size: 50px">Cold & Iced Beverages</p></div>
    <br />

    <div class="container">
        <div class="row py-3 px-lg-5">


            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem;">
                    <img src="~/Media/cakes/cake.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Strewberry Cheese Cake</h4>
                        <p class="card-text">Rich cheese cake with strewberry colie on top<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cakes/cake2.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Chocklate Coffee Cake</h4>
                        <p class="card-text">Dark chocklate cake with coffe cream<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cakes/cake3.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Strewberry Vanilla cake</h4>
                        <p class="card-text">Baked vanilla cake with strewberry mouse on top<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>





            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cakes/cake4.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Flan</h4>
                        <p class="card-text">Treditional mexican caramel cake<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cakes/cake5.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Cherry Cake</h4>
                        <p class="card-text">White charry mouse with Red cherry mouse on top of it<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cakes/cake6.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Strewberry Chocklate Cake</h4>
                        <p class="card-text">3 layers of mouse choclate trawberry chocklate with chocklate gunash on top<br /><h4>price:10₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cakes/cake7.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Lemon Murengue Pie</h4>
                        <p class="card-text">Sweet and sour lemon pie covered with slightly but=rned murengue<br /><h4>price:10₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem;">
                    <img src="~/Media/cakes/cake8.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Mango Cheese Cake</h4>
                        <p class="card-text">Cheese cake covered with mango glase<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>


            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem;">
                    <img src="~/Media/cupcakes/cupcake.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Choclate Caramel Cupcake</h4>
                        <p class="card-text">Rich chockalte cake with caramel center and chockalte cream on top<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cupcakes/cupcake2.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Birthday Cupcake</h4>
                        <p class="card-text">Rich vanilla cake with cream cheese frosting and sprinkels<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cupcakes/cupcake3.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Red Vellvet Cupcake</h4>
                        <p class="card-text">Red chocklate ckae with mascarpone cream on top<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>





            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cupcakes/cupcake4.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Lime Cocconut Cupcake</h4>
                        <p class="card-text">Lime cake with shraded cocconut in it and lime frosting<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 22rem; ">
                    <img src="~/Media/cupcakes/cupcake5.png" class="card-img-top" style="width: 20rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Strewberry Pink Shampine Cupcake</h4>
                        <p class="card-text">Strewberry cake baked with pink shampine and strewberry frosting on top<br /><h4>price:15₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>

