@model ShenanigansCoffeShop.ViewModel.ItemViewModel
<br />
<br />
<br />
<div class="w-auto p-3" style="background-color:white;">

    <div class="d-flex justify-content-center"><p class="font" style="font-size: 50px">Cold & Iced Beverages</p></div>
    <br />

    <div class="container">
        <div class="row py-3 px-lg-5">

            @foreach (ShenanigansCoffeShop.Models.ItemModel item in Model.Items)
            {
                <div class="col py-3 px-lg-5">
                    <div class="card" style="width: 16rem;">
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Itemimage)" class="card-img-top" style="width: 15rem; height: 15rem;">
                        <div class="card-body">
                            <h4 class="card-title">@item.item_name</h4>
                            <p class="card-text">@item.descript<br /><h4>price:@item.price₪</h4></p>
                            @if (@item.availability)
                            {
                                @Html.ActionLink("Add to cart", "AddToOrderList", "OrderList", item, new { @class = "btn btn-dark" })
                            }
                            else
                            {
                                <a href="#" class="btn btn-secondary">Unavailable</a>
                            }

                        </div>
                    </div>
                </div>
            }

        </div>


        <div class="row py-3 px-lg-5">


            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/ColdBeverages/coldCoffe.png" class="card-img-top" style="width: 15rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Iced Coffe</h4>
                        <p class="card-text">Pure cofffee, ice, cream and liquid sugar<br /><h4>price:10₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/ColdBeverages/coldCoffe2.png" class="card-img-top" style="width: 15rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Frapuccino</h4>
                        <p class="card-text">Pure cofffee blanded with ice and cream<br /><h4>price:10₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/ColdBeverages/coldCoffe3.png" class="card-img-top" style="width: 15rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Iced Espresso</h4>
                        <p class="card-text">Pure cofffee with ice, cream and liquid sugar<br /><h4>price:10₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>





            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/ColdBeverages/coldCoffe4.png" class="card-img-top" style="width: 15rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Cold Brew</h4>
                        <p class="card-text">Pure cofffee with water and ice<br /><h4>price:10₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/ColdBeverages/coldCoffe5.png" class="card-img-top" style="width: 15rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Nitro</h4>
                        <p class="card-text">Pure cofffee, soda water, crean and liquid sugar<br /><h4>price:10₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/ColdBeverages/coldCoffe6.png" class="card-img-top" style="width: 15rem; height: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Mazagran</h4>
                        <p class="card-text">Pure cofffee with liquid sugar, lemon and rum.<br /><h4>price:10₪</h4></p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>
<br />
<br />
<br />