@model ShenanigansCoffeShop.ViewModel.ItemViewModel
<br />
<br />
<br />
<div class="w-auto p-3" style="background-color:white;">

    <div class="d-flex justify-content-center"><p class="font" style="font-size: 50px">Cold & Iced Beverages</p></div>
    <br />

    <div class="container">
        <div class="row py-3 px-lg-5">

            @foreach (ShenanigansCoffeShop.Models.ItemModel item in Model.Items)
            {
                <div class="col py-3 px-lg-5">
                    <div class="card" style="width: 16rem;">
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Itemimage)" class="card-img-top" style="width: 15rem; height: 15rem;">
                        <div class="card-body">
                            <h4 class="card-title">@item.item_name</h4>
                            <p class="card-text">@item.descript<br /><h4>price:@item.price₪</h4></p>
                            @if (@item.availability)
                            {
                                @Html.ActionLink("Add to cart", "AddToOrderList", "OrderList", item, new { @class = "btn btn-dark" })
                            }
                            else
                            {
                                <a href="#" class="btn btn-secondary">Unavailable</a>
                            }

                        </div>
                    </div>
                </div>
            }

        </div>


    </div>
</div>
<br />
<br />
<br />