@{
    ViewBag.Title = "Authors: ";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<section class="center" style="background-color: #eee; width:40vw; height:50%; vertical-align:middle;">
    <style>
        .center {
            margin: auto;
            width: 50%;
            border: 1px solid;
            padding: 35px;
        }
    </style>
    <h1 style="color:black; font-weight: bold; text-align:left;">Shananigans Coffee Shop</h1>
    <h2 style="color:black; text-align:left; font-size:small">Welcome to our coffee shop website, built for 'Intro to Computer Network' project</h2>
    <h3 style="color:black; text-align:left; font-size:small">More to add later</h3><br />
    <h4 style="color:black; font-weight: bold; text-align:center;">@ViewBag.Title</h4>
    <div class="container-fluid h-50">
        <form action="" method="post" style="text-align:center;">
            <div>
                Refael Azriaiev 309044071<br />
                Yahalomit Levi  203956321<br />
                Tal Shaked      312208523<br />
            </div>

        </form>
        <h5 style="color:black; text-align:left; font-size:x-small">© All rights reserved.</h5>
    </div>
</section>