@{
    ViewBag.Title = "Authors: ";
}
<br/>
<br/>
<br/>
    <div class="card">
        <div class="card-header">
            <h1 style="color: black; font-weight: bold; text-align: center; font-family: Lucida Handwriting;">Shananigans Coffee Shop</h1>
        </div>
        <div class="card-body">
            <br/>
            <blockquote class="blockquote mb-0">
                <h2 style="color:black; text-align:center; font-size:small">Welcome to our coffee shop website, built for 'Intro to Computer Network' project</h2>        <br />
                <div style="color:black; text-align:center;">
                    Author:<br /><br/>
                    Refael Azriaiev 309044071<br />
                    Yahalomit Levi  203956321<br />
                    Tal Shaked      312208523<br />
                </div>
                <footer class="blockquote-footer"> <cite title="Source Title">© All rights reserved.</cite></footer>
            </blockquote>
        </div>
    </div>

