@{
ViewBag.Title = "Contact Shananigans Coffee Shop";
}

<br />
<br />
<br />

    <section class="center" style="background-color: whitesmoke; width:40vw; height:70%; vertical-align:middle;">
        <style>
            .center {
                margin: auto;
                width: 50%;
                border: 1px solid;
                padding: 35px;
            }
        </style>
        <h2 style="color: black; font-weight: bold; text-align: center; font-family: Lucida Handwriting;">@ViewBag.Title</h2><br />
        <div class="container-fluid h-70">
            <form action="" method="post" style="text-align:left;">

                <div class="align-items-center mb-4 row-cols-1">

                    <div style="text-align:left;">
                        <label for="fname">First Name</label>
                        <div><input type="text" id="fname" name="firstname" placeholder="Your first name" style="width: 515px;"></div>
                    </div>
                    <br />
                    <div class="align-items-center mb-4 row-cols-1">
                        <div style="text-align:left;"><label for="lname">Last Name</label></div>
                        <div><input type="text" id="lname" name="lastname" placeholder="Your last name" style="width: 515px;"></div>
                    </div>

                    <div class=" align-items-center mb-4 row-cols-1">
                        <div style="text-align:left;"><label for="email">Email Address</label></div>
                        <div><input type="text" id="email" name="email" placeholder="abc@example.com" style="width: 515px;"></div>
                    </div>

                    <div class="align-items-center mb-4 row-cols-1">
                        <div style="text-align:left;"><label for="Description">Description</label></div>
                        <div><textarea id="Description" name="Description" placeholder="Write something here.." rows="10" cols="85" style="width:515px;"> </textarea> <br /></div>
                    </div>
                    <div class="align-items-center mb-4 row-cols-1">
                        <button type="button" class="btn btn-outline-dark">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

<br />
<br />
<br />
