<div class="w-auto p-3" style="background-color:white;">

    <div class="container">
        <div class="row py-3 px-lg-5">
            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/HotBeverages/coffee5.png" class="card-img-top" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">Americano</h4>
                        <p class="card-text">Pure cofffee</p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/HotBeverages/coffee2.png" class="card-img-top" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">Ristretto</h4>
                        <p class="card-text">Pure cofffee with boil water add</p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/HotBeverages/coffee3.png" class="card-img-top" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">Cappuccino</h4>
                        <p class="card-text">Pure cofffee with stramed milk and milk foam</p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>





            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/HotBeverages/coffee4.png" class="card-img-top" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">Mocha</h4>
                        <p class="card-text">Pure cofffee with caramel, steamed milk and milk foam</p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/HotBeverages/coffee5.png" class="card-img-top" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">Espresso</h4>
                        <p class="card-text">Pure cofffee</p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>




            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/HotBeverages/coffee6.png" class="card-img-top" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">Flat white</h4>
                        <p class="card-text">Pure cofffee with steamed</p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>


            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/HotBeverages/coffee7.png" class="card-img-top" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">Latte</h4>
                        <p class="card-text">Pure cofffee with steamed milk and milk foam</p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>


            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 16rem;">
                    <img src="~/Media/HotBeverages/coffee8.png" class="card-img-top" style="width: 15rem; height: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">Glace</h4>
                        <p class="card-text">Pure cofffee with water and ice cream</p>
                        <a href="#" class="btn btn-dark">Add to cart</a>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>
