
<div class="w-auto p-3" style="background-color:white;">


    <div class="d-flex justify-content-center"><p class="font" style="font-size: 35px">What Can We Get You?</p></div>
    <br/>

    <div class="container px-lg-5">
        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/coffee.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="@Url.Action("HotBeverages", "Home")"><lable class="font">Hot Beverages</lable></a></p>
                    </div>
                </div>
            </div>


            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/icedCofee.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="@Url.Action("ColdBeverages", "Home")"><lable class="font">Cold & Iced Beverages</lable></a></p>
                    </div>
                </div>
            </div>


            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/pastries.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><lable class="font">Pastries</lable></p>
                    </div>
                </div>
            </div>

            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/cupcake.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><lable class="font"><a href="@Url.Action("CakesNCupcakes", "Home")">Cackes & Cupcakes</lable></a></p>
                    </div>
                </div>
            </div>


            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/cookie2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><lable class="font">cookies</lable></p>
                    </div>
                </div>
            </div>

            <div class="col py-3 px-lg-5">
                <div class="card" style="width: 30rem;">
                    <img src="~/Media/sandwich.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><lable class="font">sandwiches</lable></p>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
