@{
    ViewBag.Title = "Home Page";
}

<a href="https://www.aromahomebarista.co.il/index.php?utm_source=App&amp;utm_medium=PopUp " target="_blank" class="imgLink" style="display: block;"><img src="/_media/media/35/2901.jpg" class="fullWidth" alt="באנר הום בריסטה" title="באנר הום בריסטה"></a>
