@model ShenanigansCoffeShop.Models.UserModel


<form action="ProcessLogin" method="post">
    <h4>Welcome Guest,</h4> <h5><br /> Please Login</h5>
    <hr />


    <div class="form-group">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="text-danger p-3">
                @Html.ValidationMessage("Login_Error")
            </div>
        }
        <label asp-for="email_addr" for="Email_Add">Email address</label>
        <input name="email_addr" asp-for="email_addr" type="email" class="form-control" id="Email_Add" aria-describedby="emailHelp" placeholder="Enter email" value=@ViewData["Email"]>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label asp-for="password" for="Password">Password</label>
        <input name="password" asp-for="password" type="password" class="form-control" id="Password" placeholder="Password" value=@ViewData["Password"]>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rememberCheckBox">
        <label class="form-check-label" for="rememberCheckBox">__Remember me</label>
    </div>
    @Html.ViewBag.ErrorMessage
    <br /><button type="submit" class="btn btn-primary">Login</button>
    <div>
        <br /> @Html.ActionLink("Not Registered?", "Register", "Login_Register")
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
