<br/><br/><br/>
<div style="border-radius: 25px; background: whitesmoke; padding: 20px; ">
    <br /><h2 style="font-weight: bold; color: black; text-align: center; font-family: Lucida Handwriting;">Create New Order </h2>
    <br/><label>Please insert clint e-mail</label>
    <br/><br/><input type="email" style="width: 200px;"/>
</div>