@model ShenanigansCoffeShop.Models.UserModel

<br />
<br />
<br />
<div style="border-radius: 25px; background: whitesmoke; padding: 20px; ">
    <br /><h2 style="font-weight: bold; color: black; text-align: center; font-family: Lucida Handwriting;">Create New Order </h2>

          <form action="OrderForClient" method="post" class="mx-1 mx-md-4">
              <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="Email">Please insert client Email</label>
                      <input type="email" id="Email" class="form-control" required />

                  </div>
              </div>


              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="submit" class="btn btn-dark btn-lg">Submit</button>
              </div>
          </form>


        @if(Model.UserModel!=null){
            <div>@Model.UserModel.fname</div>
            <div>@Model.UserModel.lname</div>
            <div>@Model.UserModel.membr_typ</div>
        }

</div>