
@model ShenanigansCoffeShop.Models.UserModel
<br />
<br />
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style=" font-family: Lucida Handwriting;">Payment</p>
                            <form action="ProcessLogin" method="post" style="align-content:center;">



                                <div class="form-group">
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                        <div class="text-danger p-3">
                                            @Html.ValidationMessage("Invalid Details")
                                        </div>
                                    }
                                    <label for="fname">Cash</label><br />
                                    <input type="number" id="Cash" name="Cash" " required><br />


                                    @Html.ViewBag.ErrorMessage
                                    <br /><button type="submit" class="btn btn-dark">Commit Payment </button><br/><br/>

                                    <label for="STR"><tab />Sum to return</label><br />
                                    <input type="number" id="STR" name="STR" /><br />

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

